USE [master]
GO
/****** Object:  Database [C:\USERS\PBIN0\DESKTOP\YEAR2\SEM2\WAPP\LAB\WAPP_LEARNSPERE\APP_DATA\DB.MDF]    Script Date: 2/4/2026 11:58:21 AM ******/
CREATE DATABASE [C:\USERS\PBIN0\DESKTOP\YEAR2\SEM2\WAPP\LAB\WAPP_LEARNSPERE\APP_DATA\DB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db', FILENAME = N'C:\Users\pbin0\Desktop\Year2\Sem2\WAPP\lab\WAPP_Learnspere\App_Data\db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_log', FILENAME = N'C:\Users\pbin0\Desktop\Year2\Sem2\WAPP\lab\WAPP_Learnspere\App_Data\db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\PBIN0\DESKTOP\YEAR2\SEM2\WAPP\LAB\WAPP_LEARNSPERE\APP_DATA\DB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\PBIN0\DESKTOP\YEAR2\SEM2\WAPP\LAB\WAPP_LEARNSPERE\APP_DATA\DB.MDF]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2/4/2026 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseid] [int] IDENTITY(1,1) NOT NULL,
	[ownerid] [int] NOT NULL,
	[coursename] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[creationtime] [datetime] NOT NULL,
	[deletiontime] [datetime] NULL,
	[category] [nvarchar](50) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2/4/2026 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[overdue] [decimal](18, 2) NOT NULL,
	[duration] [int] NOT NULL,
	[creationtime] [datetime] NOT NULL,
	[deadline] [datetime] NOT NULL,
	[settlementtime] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 2/4/2026 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[materialid] [int] IDENTITY(1,1) NOT NULL,
	[courseid] [int] NOT NULL,
	[clickcount] [int] NOT NULL,
	[filetype] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[materialid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 2/4/2026 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[recid] [int] NOT NULL,
	[invid] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[creationtime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 2/4/2026 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[courseid] [int] NOT NULL,
	[ownerid] [int] NOT NULL,
	[coursename] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[creationtime] [datetime] NOT NULL,
	[deletiontime] [datetime] NULL,
	[category] [nvarchar](50) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/4/2026 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[pwd] [nvarchar](50) NOT NULL,
	[fname] [nvarchar](50) NOT NULL,
	[lname] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [nchar](10) NULL,
	[creationtime] [datetime] NOT NULL,
	[deletiontime] [datetime] NULL,
	[usertype] [nvarchar](50) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Table_ToTable] FOREIGN KEY([ownerid])
REFERENCES [dbo].[User] ([userid])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Table_ToTable]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_ToTable] FOREIGN KEY([userid])
REFERENCES [dbo].[User] ([userid])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_ToTable]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_ToTable_1] FOREIGN KEY([courseid])
REFERENCES [dbo].[Course] ([courseid])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_ToTable_1]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_ToTable] FOREIGN KEY([courseid])
REFERENCES [dbo].[Course] ([courseid])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_ToTable]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_ToTable] FOREIGN KEY([invid])
REFERENCES [dbo].[Invoice] ([invid])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_ToTable]
GO
USE [master]
GO
